@using BA.MultiMvc.Framework
@using BackToOwner.Golf.Web.ViewModels
@model  ChangePasswordRequest
@section head {
    <title>
        @TenantResources.Values["change_password_title"]</title>
}
<script type="text/javascript">
    $(function () {
        $("#OldPassword").focus();
    })
</script>
<div id="main-content">
    <div id="center-frame_ALL">
        <div class="block">
            <h1>@TenantResources.Values["change_password_title"]</h1>
        </div>
        <br />
        @using (Html.BeginForm())
        {
            <fieldset>
                <div id="contactdata">
                    <div class="row">
                        @Html.DisplayFor(n => n.ConfirmMessage)
                    </div>
                    <div class="row">
                        <div class="label">
                            @TenantResources.Values["old_password"]:
                        </div>
                        <div class="input">
                            @Html.PasswordFor(model => model.OldPassword, new { maxlength = 50, size = 25 })
                            @Html.ValidationMessageFor(model => model.OldPassword, TenantResources.Values["err_required"])
                        </div>
                    </div>
                     <div class="row">
                        <div class="label">
                            @TenantResources.Values["new_password"]:
                        </div>
                        <div class="input">
                            @Html.PasswordFor(model => model.NewPassword, new { maxlength = 50, size = 25 })
                            @Html.ValidationMessageFor(model => model.NewPassword, TenantResources.Values["password_error"])
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            @TenantResources.Values["confirm_password"]:</div>
                        <div class="input">
                            @Html.PasswordFor(model => model.ConfirmNewPassword, new { maxlength = 50, size = 25 })
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword, TenantResources.Values["password_confirm_error"])
                        </div>
                    </div>
                    <div class="row">
                        
                        <input type="image" value="changePasswordCmd" src="@Url.Content("~/Content/" + TenantContext.TenantKey + "/Images/play.png")" alt="Change password" name="Command" id="Command" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
