@using BA.MultiMvc.Framework
@using BackToOwner.Golf.Web.ViewModels

@model SendPasswordRequest
           
@section head {
    <title>
        @TenantResources.Values["send_password_title"]</title>
}
<script language="javascript">
    jQuery(function ($) {
        $("#LabelNbr").mask("***-***-***");
        $("#LabelNbr").focus();
    });
</script>

<h2>@TenantResources.Values["password"]</h2>

@Html.ValidationSummary(true, TenantResources.Values["err_label"])

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>@TenantResources.Values["send_password_title"]</legend>
            <div>
                @Html.DisplayTextFor(n=>n.ConfirmationMessage)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.LabelNbr, TenantResources.Values["label_nbr"])
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.LabelNbr)
                @Html.ValidationMessageFor(m => m.LabelNbr)
            </div>

            <p>
                <input type="image" value="next" src="@Url.Content("~/Content/" + TenantContext.TenantKey + "/Images/play.png")" alt="Send password" name="Command" id="Command" height="35" width="35">
            </p>
        </fieldset>
    </div>
}